################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HR.LeaveManagement.Clean/FileContentIndex/dc14f8e8-cb40-4ba4-b3ae-a34eea504299.vsidx
